<!DOCTYPE html>
<html>
    <head><script defer src="https://cloud.umami.is/script.js" data-website-id="0897ddd8-b8e4-4b4b-acc4-324a99425216"></script></head>
<body>

<h2>Relevant Examples of how to use CensusMaps.org</h2>

<ul>
    <li>Nobody bikes to work in <a target="_blank" href="/get_map/?cbsa=29820&variable=B08301_018E">Las Vegas</a>, or really anywhere at all</li>
  <li>Who takes public transportation to work in <a target="_blank" href="/get_map/?cbsa=35620&variable=B08301_010E">New York</a> vs <a target="_blank" href="/get_map/?cbsa=26420&variable=B08301_010E">Houston</a></li>
  <li>How many people are below the poverty line in <a target="_blank" href="/get_map/?cbsa=42660&variable=B17020_002E">Seattle</a> vs <a target="_blank" href="/get_map/?cbsa=31080&variable=B17020_002E">Los Angeles</a></li>
  <li>How Segregated is <a target="_blank" href="/get_group_map/?cbsa=19820&group=B02001">Detroit?</a></li>
  <li>What about <a target="_blank" href="/get_group_map/?cbsa=33340&group=B02001">Milwaukee?</a> or <a target="_blank" href="/get_group_map/?cbsa=41180&group=B02001">St. Louis?</a></li>
  <li>Where are the Koreans in <a target="_blank" href="/get_map/?cbsa=31080&variable=B02015_005E">Los Angeles?</a></li>
</ul>  

</body>
</html>
