<!doctype html>
{% csrf_token %}
<html lang="en">
  <!-- deck.gl standalone bundle -->
  <script src="https://unpkg.com/deck.gl@^8.8.0/dist.min.js"></script>

  <script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>

  <link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />
<head><script defer src="https://cloud.umami.is/script.js" data-website-id="0897ddd8-b8e4-4b4b-acc4-324a99425216"></script>
  <meta charset="utf-8">
  <title>{{ cbsa }}</title>
  <style type="text/css">
    body {margin: 0; padding: 0;}
    #container {width: 100%; height: 90vh; position: "absolute"; top: 0px}
    #left-column {width:25%;  position: "absolute"; top: 0px; text-align: "right"}
    #right-column {width:75%; position: "absolute"; top: 0px}
    #row {display: "flex"}
  </style>
</head>  
<body>
  <div id="row">
    <div id="container"></div>
    <div id="left-column">
      <div id="menu">
        {% for var in variables %}
          {% if var.id == first_variable %}
          <input type="checkbox" id="{{ var.id }}" name="{{ var.id }}" checked/> {{ var.label }} <br>
          {% else %}
          <input type="checkbox" id="{{ var.id }}" name="{{ var.id }}" /> {{ var.label }} <br>
          {% endif %}
        {% endfor %}
        <input type="checkbox" id="none" name="none">No Layers</checkbox>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">

function colorScale(density) {
    console.log(density)
    if (density > 6375) {
      return [0,255,0,255]
    } else {
      var z = density / 25 
      var y = 255-z
      return [y,z,0,255]
    }
  }
document.querySelector('#menu').onclick = function(ev) {
  
  if(ev.target.value) {

    console.log(ev.target.checked, ev.target.name);
    {% for x in variables %}
    // console.log("{{ x.id }}")
    if (ev.target.name !== "{{ x.id }}") {
      document.getElementById("{{ x.id }}").checked = false;
    }


    {% endfor %}
    if (ev.target.name !== "none") {
      document.getElementById("none").checked = false;
    }
    const id_str = `${ev.target.name}`
    const hexagonLayers = [
      new deck.GeoJsonLayer({
        id: ev.target.name,
        data: AUSTIN,
        // Styles
        filled: true,
        opacity: .5,
        pointRadiusMinPixels: 2,
        pointRadiusScale: 2000,
        // getPointRadius: f => (11 - f.properties.scalerank),
        getFillColor: f => colorScale(f.properties.data[ev.target.name].density),
    
        // Interactive props
        pickable: true,
        autoHighlight: true,
        extruded: true, 
        wireframe: true,
        getElevation: f => (f.properties.data[ev.target.name].density),
        // onClick: info => info.object && alert(`${info.object.properties.name} (${info.object.properties.abbrev})`)
      }),
    ]

    console.log("makenewlater")
    
    function getTooltip({object}) {
      var tooltip = ev.target.name
      if (typeof object === 'undefined') {
        return "Data is Loading!"
      }
      return `${object.properties.name_lsad} \n ${object.properties.concept} --- ${object.properties.data[ev.target.name].label} \n ${object.properties.data[ev.target.name].density} People / Square Mile \n ${object.properties.data[ev.target.name].population} Total Population`
    }
    deckgl.setProps({
        layers: hexagonLayers
    })
    deckgl.setProps({
        getTooltip: getTooltip
    });


  }
}
  // source: Natural Earth http://www.naturalearthdata.com/ via geojson.xyz
  const AUSTIN = "{{ url|safe }}"
  function getColor(density) {
    console.log(density)
    if (density > 6375) {
      return [0,255,0,255]
    } else {
      var z = density / 25 
      var y = 255-z
      return [y,z,0,255]
    }
  }

  function getTooltip({object}) {
      if (typeof object === 'undefined') {
        return "Data is Loading!"
      }
      console.log(object.properties)
      return `${object.properties.name_lsad} \n  ${object.properties.concept} --- ${object.properties.data["{{ first_variable }}"].label} \n ${object.properties.data["{{ first_variable }}"].density} People / Square Mile \n ${object.properties.data["{{ first_variable }}"].population} Total Population`
    }
  console.log("INITIAL MAP INSTANTIATION")
  const deckgl = new deck.DeckGL({
    container: 'container',
    mapStyle: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
    initialViewState: {
      latitude: {{ start_latitude }}, 
      longitude: {{ start_longitude }},
      zoom: 10,
      bearing: 0,
      pitch: 30
    },
    controller: true,
    getTooltip: getTooltip,
  
    layers: [
      new deck.GeoJsonLayer({
        id: '{{ first_variable }}',
        data: AUSTIN,
        // Styles
        filled: true,
        opacity: .5,
        pointRadiusMinPixels: 2,
        pointRadiusScale: 2000,
        // getPointRadius: f => (11 - f.properties.scalerank),
        getFillColor: f => getColor(f.properties.data["{{ first_variable }}"].density),
        // Interactive props
        pickable: true,
        autoHighlight: true,
        extruded: true, 
        wireframe: true,
        getElevation: f => (f.properties.data["{{ first_variable }}"].density),
        // onClick: info => info.object && alert(`${info.object.properties.name} (${info.object.properties.abbrev})`)
      }),
    ]
  });
    </script>
</html>