<!DOCTYPE html>
<html>
<head><script defer src="https://cloud.umami.is/script.js" data-website-id="0897ddd8-b8e4-4b4b-acc4-324a99425216"></script>
<title>censusmaps.org</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
h1 {padding-left: 30px;}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/la.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
#textarino {color: black;}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-bottomleft">
    <h1 id="textarino" class="w3-jumbo w3-animate-top"><a href="search">MAKE BEAUTIFUL MAPS</a>     <a style="margin-left:30px; font-size:2rem;" href="/examples">EXAMPLES</a></h1>
  </div>
  <div class="w3-display-right w3-padding-large">
  </div>
</div>

</body>
</html>
