
<script src="https://unpkg.com/htmx.org@1.1.0"></script>
<script>
       function validatePage() {
              console.log("function")
              if ((document.getElementById("place-selected-id").innerHTML !== "") && (document.getElementById("variable-selected-id").innerHTML !== "")){
                     console.log("THIS BITCH READY")
                     console.log("get_map/?cbsa=".concat(document.getElementById("place-selected-id").innerHTML, "&variable=", document.getElementById("variable-selected-id").innerHTML))
                     makeMap = document.getElementById("variable-map-button")
                     mapJson = document.getElementById("variable-map-button-json")
                     makeMap.setAttribute("href", "get_map/?cbsa=".concat(document.getElementById("place-selected-id").innerHTML, "&variable=", document.getElementById("variable-selected-id").innerHTML))
                     mapJson.setAttribute("href", "jsonify.json?cbsa=".concat(document.getElementById("place-selected-id").innerHTML, "&variable=", document.getElementById("variable-selected-id").innerHTML))
              }
              console.log(document.getElementById("place-selected-id").innerHTML)
              console.log(document.getElementById("group-selected-id").innerHTML)
              if ((document.getElementById("place-selected-id").innerHTML !== "") && (document.getElementById("group-selected-id").innerHTML !== "")){
                     console.log("ENABLE BUTTON")
                     console.log("get_group_map/?cbsa=".concat(document.getElementById("place-selected-id").innerHTML, "&group=", document.getElementById("group-selected-id").innerHTML))
                     groupMap = document.getElementById("group-map-button")
                     groupJson = document.getElementById("group-map-button-json")
                    //  groupMap.setAttribute("disabled", false)
                     groupMap.setAttribute("href", "get_group_map/?cbsa=".concat(document.getElementById("place-selected-id").innerHTML, "&group=", document.getElementById("group-selected-id").innerHTML))
                     groupJson.setAttribute("href", "group.json?cbsa=".concat(document.getElementById("place-selected-id").innerHTML, "&group=", document.getElementById("group-selected-id").innerHTML))
              }
       }

       function selectPlace(id, name, latitude, longitude) {
         console.log(id)
         console.log(name)
         document.getElementById("place-selected-id").innerHTML = id;
       //   document.getElementById("").innerHTML = "{{ id }}";
         document.getElementById("place-selected-name").innerHTML = name;
         validatePage()
       }
       </script>
<script>
  function selectGroup(id, name) {
    console.log(id)
    console.log(name)
    document.getElementById("group-selected-id").innerHTML = id;
    document.getElementById("group-map-button").innerHTML = `Create A Map Of All Variables in Group ${id} <br> ${name}`;
  //   document.getElementById("").innerHTML = "{{ id }}";
    document.getElementById("group-selected-name").innerHTML = name;
    validatePage()
  }
  </script>
<script>
       function selectVariable(id, name) {
         console.log(id)
         console.log(name)
         document.getElementById("variable-selected-id").innerHTML = id;
       //   document.getElementById("").innerHTML = "{{ id }}";
         document.getElementById("variable-selected-name").innerHTML = name;
    document.getElementById("variable-map-button").innerHTML = `Create A Map Of Selected Variable ${id} <br> ${name}`;
         validatePage()
       }
       </script>
<!DOCTYPE html>
<html>
<head>
  <title>censusmaps.org</title>
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 33%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
h1{ text-align: left; font-size:40px}
input {align-self: center; size:large;}
th, td {
  text-align: left;
  padding: 16px;
}
#place-selected-id{ font-size:30px }
#place-selected-name{ font-size:30px }
#group-selected-id{ font-size:30px }
#group-selected-name{ font-size:30px }
#variable-selected-id{ font-size:30px }
#variable-selected-name{ font-size:30px }

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>
<body>

<div class="row">
  <div class="column">
       <h1>Select A City</h1>
       <div id="place-selected-id"></div>
       <div id="place-selected-name"></div>
       <br>
            <input class="form-control" type="search" 
                   name="search" placeholder="Seach Cities / Metros" 
                   hx-get="/list_msas" 
                   hx-trigger="input changed delay:500ms, search" 
                   hx-target="#search-results" 
                   hx-indicator=".htmx-indicator">
                   <br>
            
            <table id = "search-results"></table>
  </div>
  <div class="column">
    
       
<h1>Select A Topic</h1>
      <div id="group-selected-id"></div>
      <div id="group-selected-name"></div>
      <h3><a title="Warning! This is Hella Slow" id="group-map-button" target="_blank">Create A Map Of All Variables in Group</a></h3> 
      <h5><a title="Warning! This is Hella Slow" id="group-map-button-json" target="_blank">Download GeoJSON Instead</a></h5> 
      <br>
       <input class="form-control" type="search" 
              name="search" placeholder="Seach Census Topics" 
              hx-get="/list_acs_variables" 
              hx-trigger="input changed delay:500ms, search" 
              hx-target="#concepts-results" 
              hx-indicator=".htmx-indicator">
       
       <table id = "concepts-results"></table>
  </div>
  <div class="column">
    
       
<h1>Select A Detailed Demographic</h1>
       <div id="variable-selected-id"></div>
       <div id="variable-selected-name"></div>

      <h3><a id="variable-map-button" target="_blank">Create A Map of Selected Variable</a></h3> 
      <h5><a id="variable-map-button-json" target="_blank">Download GeoJSON Instead</a></h5> 
      <br>
       <table id = "variables-results"></table>
  </div>
</div>

</body>
</html>



